<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
  <app-message [text]="message.text" [type]="message.type"></app-message>

  <div class="form-group">
    <label for="firstname">Name:</label>
    <input type="text" id="firstname" formControlName="firstname" placeholder="First name" (blur)="onBlur('firstname')">
    <div *ngIf="isErrorVisible('firstname')" class="error-message">Please provide a first name.</div>
  </div>

  <div class="form-group">
    <label for="lastname">Surname:</label>
    <input type="text" id="lastname" formControlName="lastname" placeholder="Surname" (blur)="onBlur('lastname')">
    <div *ngIf="isErrorVisible('lastname')" class="error-message">Please provide a surname.</div>
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" placeholder="Your email" (blur)="onBlur('email')">
    <div *ngIf="isErrorVisible('email')" class="error-message">Please provide a valid email address.</div>
  </div>

  <div class="form-group">
    <label for="workexp">Working experience:</label>
    <input type="text" id="workexp" formControlName="workexp" placeholder="Working experience in months" (blur)="onBlur('workexp')">
    <div *ngIf="isErrorVisible('workexp')" class="error-message">Enter a number with up to one decimal (e.g., 1,1).</div>
  </div>

  <button type="submit">Submit</button>
  <button type="reset" (click)="onReset()">Reset</button>
</form>
